/* (K) ALL RIGHTS REVERSED - Reprint what you like */

/* Header */

.bigHeader {
    border: 0;
    display: grid;
    grid-column-gap: 0.5rem;
    grid-template-columns: 50px auto auto;
    margin-bottom: 10px;
    width: 100%;
}

.bigHeader .postTimestamp {
    grid-column: 2;
    grid-row: 3;
}

.bigHeader .postTimeSince {
    grid-column: 3;
    grid-row: 3;
}


.posterAvatarColumn {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 50px;
}

.posterAvatarSmall {
    width: 32px;
}

.posterAvatar {
    height: 50px;
    width: 50px;
}

.posterAvatarSmall {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.posterAvatarSmall img {
    height: 32px;
    width: 32px;
}

.posterDisplayName {
    font-size: 14px;
    font-weight: bold;
    grid-column: 2;
    grid-row: 1;
}

.posterHandle {
    grid-column: 2;
    grid-row: 2;
    vertical-align: middle;
}

.posterServiceIcon {
    height: 14px;
    margin-right: 4px;
    vertical-align: middle;
    width: 14px;
}

.posterHandle,
.postTimestamp,
.postTimeSince {
    color: #666;
}

.postTimeSince {
    text-align: right;
}

.retweetHeader {
    border-bottom: 1px dotted #ccc;
    display: grid;
    grid-column-gap: 0.5rem;
    grid-template-columns: 32px auto;
    margin-bottom: 5px;
    width: 100%;
}

.retweetedIconColumn {
    grid-column: 1;
    vertical-align: bottom;
}

.retweetedIcon {
    height: 32px;
    width: 32px;
}

.retweetSmallHeaderColumn {
    grid-column: 2;
}

.smallHeader {
    border: 0;
    display: grid;
    grid-column-gap: 0.5rem;
    grid-template-columns: 32px auto;
    width: 100%;
}

.smallHeader .postTimeSince {
    grid-column: 3;
    grid-row: 2;
}
