/* (K) ALL RIGHTS REVERSED - Reprint what you like */

/* Post */

.post {
    border-bottom: 2px solid #ccc;
    padding: 5px 10px 0 10px;
}

.imageBlock {
    margin-top: 5px;
}

.me {
    background-color: #dae2ed !important;
}

.notMe {
    background-color: #fff;
}

.retweet {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
}

.raw {
    border: 1px solid #ccc;
    max-width: 100%;
    overflow-x: scroll;
}


/* Mastodon Links */

.ellipsis:after {
    content: "…";
}

.invisible {
    font-size: 0;
    line-height: 0;
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
}


/* Quote Tweet */

/* Mastodon's "Re: <quoted link>" stopgap for clients that don't support links. */
.quote-inline {
    display: none;
}

.quoteSection {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px;
    padding: 5px 10px;
}

.rabbitHole {
    margin-top: 10px;
}

.rabbitHole a,
.rabbitHole a:visited {
    color: #999;
    font-style: italic;
    text-decoration: none;
}

.rabbitHole a:hover {
    color: #00f;
}


/* Replied-To */

.repliedTo {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: lightgoldenrodyellow;
    padding: 5px;
}

.repliedTo .notMe {
    background-color: inherit;
}

.repliedToPostTable {
    display: grid;
    grid-template-columns: 54px 1fr;
    grid-template-rows: 1fr 50px;
    margin-bottom: 5px;
    width: 100%;
}

.repliedToPostTable .replyIconColumn {
    grid-column: 1;
    grid-row: 2;
    padding: 0 10px 0 0;
    width: 50px;
}

.repliedToPostTable .repliedTo {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.repliedToPostTable .replyIconColumn img {
    height: 50px;
    min-width: 50px;
    width: 50px;
}

.repliedToRepliedToPostTable {
    display: grid;
    grid-template-columns: 20px 1fr;
}

.repliedToRepliedToPostTable .replyIconColumn {
    grid-column: 1;
    grid-row: 1;
    padding: 0;
    vertical-align: bottom;
    width: 15px;
}

.repliedToRepliedToPostTable .replyIconColumn img {
    height: 15px;
    min-width: 15px;
    width: 15px;
}

.repliedToRepliedToPostTable .repliedToRepliedToPoster {
    color: #666;
    font-size: 10px;
    font-style: italic;
    grid-column: 2;
}

.repliedToRepliedToPostTable .repliedToRepliedToPoster a,
.repliedToRepliedToPostTable .repliedToRepliedToPoster a:visited {
    color: #666;
    font-style: italic;
    text-decoration: none;
}

.repliedToRepliedToPostTable .repliedToRepliedToPoster a:hover {
    color: #00f;
}



/* Media */

.video {
    margin-top: 10px;
}


/* Action Row */

.actionRow {
    border-top: 1px dotted #ccc;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 28px;
    margin-top: 5px;
    place-items: center;
    width: 100%;
}

.actionRow div {
    height: 100%;
    padding-top: 5px;
    text-align: center;
    width: 100%;
}

.actionColumn {
    vertical-align: middle;
}

.actionColumn img {
    height: 16px;
    vertical-align: middle;
    width: 16px;
}

.actionRow .debugColumn:hover {
    background-color: #eee;
}

.actionRow .favoriteColumn:hover {
    background-color: #eeb;
}

.actionRow .menuColumn:hover {
    background-color: #fdb;
}

.actionRow .replyColumn:hover {
    background-color: #dfb;
}

.actionRow .retweetColumn:hover {
    background-color: #bdf;
}
