/* Post */

.post {
    border-bottom: 2px solid #ccc;
    padding: 5px 10px;
}

.me {
    background-color: #dae2ed !important;
}

.notMe {
    background-color: #fff;
}

.retweet {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
}

.raw {
    border: 1px solid #ccc;
    max-width: 100%;
}


/* Quote Tweet */
.quoteSection {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px;
    padding: 5px 10px;
}


/* Replied-To */

.repliedTo {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: lightgoldenrodyellow;
    padding: 5px;
}

.repliedTo .notMe {
    background-color: inherit;
}

.repliedToPostTable {
    display: grid;
    grid-template-columns: 50px 1fr;
    width: 100%;
}

.repliedToPostTable .replyIconColumn {
    grid-column: 1;
    padding: 0 10px 0 0;
    vertical-align: bottom;
    width: 50px;
}

.repliedToPostTable .replyIconColumn img {
    height: 50px;
    min-width: 50px;
    width: 50px;
}

.repliedToRepliedToPostTable {
    display: grid;
    grid-template-columns: 15px 1fr;
}

.repliedToRepliedToPostTable .replyIconColumn {
    grid-column: 1;
    padding: 0;
    vertical-align: bottom;
    width: 15px;
}

.repliedToRepliedToPostTable .replyIconColumn img {
    height: 15px;
    min-width: 15px;
    width: 15px;
}

.repliedToRepliedToPostTable .repliedToRepliedToPoster {
    color: #666;
    font-size: 10px;
    font-style: italic;
    grid-column: 2;
}



/* Media */

.video {
    margin-top: 10px;
}


/* Action Row */

.actionRow {
    border-top: 1px dotted #ccc;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 24px;
    margin-top: 5px;
    place-items: center;
    width: 100%;
}

.actionColumn { }

.actionColumn img {
    height: 16px;
    width: 16px;
}
