/* (K) ALL RIGHTS REVERSED - Reprint what you like */

.linkCard {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    padding: 5px;
}

.linkCard a {
    text-decoration: none;
}

.linkCard img {
    width: 100%;
}

.linkCard .linkDescription {

}

.linkCard .linkTitle {
    font-size: 14px;
    font-weight: bold;
}

.linkCard .linkUrl a {
    color: #999 !important;
    font-size: 10px;
    font-style: italic;
}
