/* (K) ALL RIGHTS REVERSED - Reprint what you like */

textarea {
    max-width: 100%;
    max-height: 100%;
}

.right {
    text-align: right;
}



.createPostColumn {
    background: #ddd;
    border: 1px solid black;
    border-right: 5px solid black;
    grid-column: 1;
    height: 100vh;
    max-height: 100vh;
    padding: 0 10px;
}

.createPostColumn h3 {
    margin-block-end: 0;
    margin-block-start: 0;
}

.createPostHeader {
    border-bottom: 1px solid #666;
    font-size: 24px;
    height: 35px;
    padding: 6px 0 0 0;
    margin: 0 0 20px 0;
    width: 100%;
}

.newPost {
    margin-top: 30px;
    width: 100%;
}

.newPost .createPostActions {
    display: grid;
    margin-top: 6px;
}

.newPost .createPostActions .postButton {
    grid-column: 2;
    text-align: right;
}

.newPost .createPostActions .resetButton {
    grid-column: 1;
}

.newPost .headerRow {
    display: grid;
}

.newPost .headerRow .postLabel {
    font-weight: bold;
    grid-column: 1;
}

.newPost .headerRow .count {
    grid-column: 2;
    line-height: 16px;
    text-align: right;
}

.newPost .headerRow .overTheLimit {
    color: #f00;
}

.newPost .postBox {
    background-color: #fff;
    border: 1px solid #999;
    margin-top: 2px;
    width: 100%;
}

.newPost .postBox textarea {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
    resize: none;
    width: 95%;
}

.selectAccountsWrapper {
    margin-top: 15px;
    padding: 0;
}

.selectableAccount,
.selectableTemplate {
    background-color: #eee;
    border: 1px solid #999;
    border-radius: 4px;
    display: grid;
    margin: 6px 0;
    padding: 5px;
}

.selectableAccount {
    grid-template-columns: 24px 36px auto;
}

.selectableAccount:hover,
.selectableTemplate:hover {
    background-color: #def;
}

.selectableAccount .accountAvatar {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 32px;
    width: 32px;
}

.selectableAccount .accountName {
    font-weight: bold;
    grid-column: 3;
    grid-row: 1;
}

.selectableAccount .accountHandle {
    color: #666;
}

.selectableAccount .checkX,
.selectableTemplate .checkX {
    align-content: center;
    grid-row-start: 1;
    grid-row-end: 3;
    line-height: 11px;
    text-align: center;
    vertical-align: middle;
}

.selectableAccount .serviceIcon {
    height: 14px;
    margin-right: 4px;
    vertical-align: middle;
    width: 14px;
}

.selectableAccount .accountServiceIconAndHandle {
    grid-column: 3;
    grid-row: 2;
    vertical-align: middle;
}

.selectedTemplate {
    border: 2px solid #0b0;
}

.selectableTemplate textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
    resize: vertical;
    width: 100%;
}

.selectableTemplate .blankTemplate {
    color: #666;
    font-style: italic;
}

.selectableTemplate .templateActions {
    display: grid;
    font-size: 11px;
    grid-row: 2;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.selectableTemplate .templateActions .actionable::after {
    content: " ]";
}

.selectableTemplate .templateActions .actionable::before {
    content: "[ ";
}

.selectableTemplate .templateActions .actionable:hover {
    font-weight: bold;
}

.selectableTemplate .templatePostBox {
    border-bottom: 1px dotted #999;
    grid-row: 1;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.selectTemplateWrapper {
    margin-top: 30px;
    padding: 0;
}

.selectTemplateWrapper .selectTemplateHeader {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.selectTemplateWrapper .addButton {
    grid-column: 2;
    text-align: right;
}

.selectTemplateWrapper .addButton:hover {
    font-weight: bold;
}

.unselectedAccount {
    opacity: 40%;
}
